<div class="modal fade " id="modalPrivacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fluid " role="document">
    <div class="modal-content">
      <div class="modal-header text-center fixed-top white">
        <h4 class="modal-title w-100 font-weight-bold">Privacy Policy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <h4 class="h4"><b><i>1. Purpose of the Information.</i></b></h4>
          <p class="container">Access to the site <a href="/">https://www.medical-researcher.com</a> / (hereinafter "Site") and the use of the service provided by the same by users and / or customers may be subject to the inclusion of personal data on which processing by GUARDMAN(hereinafter referred to as the "Company" or Holder), as Data Controller, will comply with the Regulation - 27/04/2016, no. 679 "REGULATION (EU) OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL of 27 April 2016 No. 679" on the protection of individuals with regard to the processing of personal data, as well as on the free movement of such data and repealing Directive 95/46 / EC (General Data Protection Regulation - GDPR "(hereinafter" Regulation ").This Information is intended to allow users to know, even before accessing the various sections of the Site and to use the services provided by the same giving their data, how the company processes the personal data of users. It will therefore be necessary for the user to read the information before submitting his / her data.</p>
          
          <h4 class="h4"><b><i>2. Types of data collected</i></b></h4>

            <p class="container">The personal data that medical researcher collects directly or through third parties are:
            In the first case those provided by the subject (User) at the time of registration on the Site: name,
            surname, date of birth, e-mail address and telephone number, or other data , as well as other particular
            data aimed at specifying the reason for which you want to use the service, inserted voluntarily (and in
            any case not necessary) by the User through the contact forms, during the navigation of the site itself
            The data collected indirectly come from services that the User uses, technical data: for example IP
            address, type of browser, information on the computer in use, data relative to the current
            (approximate) position of the instrument that the User is using, data collected using cookies or similar
            technologies .<br>
            Every use of cookies - or other monitoring tools - by medical researcher or third-party service providers
            used by this service, unless otherwise indicated, will be used to identify users and remember their
            preferences, for the sole purpose of providing the service requested by the user. If some personal data
            were not provided, it could be impossible for medical researcher to provide their services. Users are
            responsible for personal data obtained from third parties, published or shared with this platform and
            confirm that they have given their consent to the use of the same.</p>
          
          <h4 class="h4"><b><i>3. Particular categories of personal data</i></b></h4>
          <p class="container">Particular data are personal data suitable for revealing racial and ethnic origin, religious, philosophical or
            other beliefs, political opinions, membership of parties, trade unions, associations or organizations of a
            religious, philosophical, political or trade union nature , as well as personal data suitable to reveal the
            state of health and sex life.<br>
            As a rule, the Company does not ask its Users for so-called "particular data". However, in relation to
            specific activities or services or in order to be able to pay particular attention to the client's needs orpreferences, it may be necessary for the Company to obtain, extrapolate or process certain special data
            concerning customers. With this in mind, you will be asked to express your written consent regarding
            the collection and processing of the aforementioned personal data as part of the declaration of
            consent. Any processing of the particular data will take place, however, in compliance with the
            authorization issued by the Guarantor for the Protection of Personal Data (hereinafter, the "Guarantor")
            and according to the provisions of the applicable laws.</p>
          
          <h4 class="h4"><b><i>4. Purposes of the data processing</i></b></h4>
          <p>
            Personal data are processed in the normal course of business of the Company, with the following
purposes:
          <ol>
              <li>purposes related and instrumental to the management of relationships with customers
                (registration and creation of the reserved area, reservations for medical visits and / or diagnostic
                tests, acquisition of preliminary information at the end of the booking, optimization of the
                provision of services offered by the Company, activities fraud control, messaging with doctors
                and other registered professionals);</li>
              <li>purposes of an administrative, financial or accounting nature, such as those relating to
                purchases of services offered by doctors and other registered professionals.</li>
              <li>purposes connected to the obligations established by laws, regulations, community legislation
                or instructions given to competent authorities or supervisory bodies;</li>
              <li>purposes functional to the development of the activities carried out by the Company, for which
                it is the user's right to give consent or not. The following activities fall into this category:
                  <ul>
                      <li>send customers information or promotional material regarding services rendered by the
                        Company;</li>
                      <li>send to customers, also through third-party companies, information or promotional
                        material relating to services of any nature rendered by third parties, with whom the
                        Company has entered into commercial agreements to be offered to its customers;</li>
                      <li>check the level of customer satisfaction on the services rendered by the Company, also
                        using market research companies or, in any case, specialized companies, which may
                        send questionnaires to be filled in to samples of customers or other material suitable for
                        the purpose.</li>
                  </ul>
              </li>
          </ol>
          </p>
        
          <h4 class="h4"><b><i>5. Methods of data processing and conservation</i></b></h4>
        <p class="container">The processing of personal data is done by manual, computerized and telematic tools, with logic strictly
related to the purposes indicated above and, however, in order to ensure the security and
confidentiality of the data and for the time strictly necessary to fulfill the purposes referred in point 4,
respecting privacy and current regulations.<br>
The data will be processed only for the time necessary for the purposes mentioned above.The data processed for the purposes of marketing, profiling and communication to third parties will be processed until the possible revocation of consent by the party concerned.
The data processed for statistical purposes will be kept for a maximum of 24 months.
The data concerning you will be stored according to the following criteria:
The data processed for joining the site will be retained, until you expressly request cancellation from the
site (according to the procedures referred to in paragraph 9) unless the need for further conservation, to
allow the GUARDMAN to defend their rights, for a maximum period of 3 years.</p>
        
          <h4 class="h4"><b><i>6. Categories of subjects to whom the data may be communicated</i></b></h4>
            <p class="container">
            In carrying out its activities, the Company addresses and communicates the personal data of the User
            and / or customer, as well as the subject in which the user and / or client has chosen to carry out the
            medical examination or diagnostic examination, also to:
            <ol>
                <li><u>companies or external subjects that perform activities connected and instrumental to the
                    management of relations between the Company and the client</u> ; the processing of the user's
                personal data carried out by these companies or subjects has the following purposes:
                    <ul>
                        <li>make the necessary processing to obtain any benefits reserved for customers in the
                provision of services or in the exercise of the activities carried out on these companies
                or parties outside the Group;</li>
                        <li>print, envelope and deliver communications for customers.</li>
                    </ul>

                </li>
                <li>
                <u>companies or external subjects that perform activities that are functional to that of the
                    Company</u> ; the processing of the user's personal data carried out by these companies or subjects
                has the following purposes:
                    <ul>
                        <li>carry out market research on representative samples of customers on behalf of the
                        Company, using their data only if the customer concerned has given his consent, on the
                        occasion of specific requests for collaboration (for example, interviews, sending
                        questionnaires, etc.);</li>
                        <li>to distribute to the clientele of the Company communications or promotional or
                        informative material concerning services rendered by the Company, or by third party
                        companies with which the Company has concluded commercial agreements.</li>
                    </ul>
                </li>
        </ol>
            </p>
        <p class="container">
        The customer has the right to refuse consent for the aforementioned types of communication of personal data and for related treatments, by ticking the appropriate box of the declaration of consent. We would also like to underline that the companies or external subjects carrying out the activities indicated above under 1) and 2) of this paragraph 5 independently carry out, as owners in accordance with Legislative Decree 679/2016, the treatment of personal data communicated to them by
        the Company.<br>
            The provision of personal data is partly necessary so that the Company can meet the needs of the user within the scope of site functions.<br>
        On the basis of the foregoing, therefore, it is specified that the refusal of consent to the collection, processing and communication of personal data for the purposes referred to in points 3.1 and 3.2 of thisinformation and to the categories of subjects referred to in point 5.1) of the same - being said
        processing and communications essential for the performance of the Company's activities - will result in the <u>impossibility for the Company to provide any service</u>.<br>
        Failure, partial or incorrect provision of optional personal data, however, will not result in any
        consequence.
        </p>
        
          <h4 class="h4"><b><i>7. Categories of subjects who may become aware of personal data as managers or agents</i></b></h4>
        <p class="container">We also inform you that the personal data of the users may be communicated to the managers
identified by the Company in relation to the processing of personal data of customers and in particular
of those identified as part of the medical check-up activity carried out by the Company, as well as of
employees of the Company in charge of processing personal data.</p>
        
          <h4 class="h4"><b><i>8. Use of Cookies and other technologies.</i></b></h4>
      <p class="container">
      In addition to the personal data provided directly by users, when connected to the site, the computer
systems and software procedures used to operate the site provide and / or indirectly acquire some
information that could constitute personal data and whose transmission is implicit in the use of Internet
communication protocols (such as, in a merely simplifying but not exhaustive way, the so-called cookies
- as better specified below - "IP" addresses, etc.).
In particular, the Company uses cookies to enable the user to access services and personalize browsing
on their sites.
A cookie is a small text file that is stored on your computer's hard drive or on your device. Cookies
contain information, including personal data, which, at a later time, can be read by a Web server
operating in the domain in which the cookie was generated. The information collected through cookies
includes the date and time of the visit, the registration information, the browsing history of the site and
that relating to the bookings made.
Cookies allow medical researcher to offer personalized content, including search results and targeted
advertisements.
medical researcher works with third-party partners who use cookies on their site to:
          <ul>
      
<li>Measure and analyze aggregate statistical data on the use and volume of use of the site by
visitors. The information collected may include, but is not limited to, and limited to: the activity
of the browser while the user visits the site, the user's path within the site, the general
information on the host and the Internet service provider of the site. visitor and the time at
    which the user accesses the site.</li>
<li>Analyze the traffic and user behavior on the site to create reports on the activity intended for
    internal use only.</li>
              <li>Conduct research and diagnostic analysis to improve our products and services.</li>
              <li>Identify users who arrive at the site through an affiliate website or a sponsored link.</li>
      </ul>
      </p>
      <p class="container">
      Often browsers are set to automatically accept cookies. However users can change the default
configuration so as to disable or delete cookies (from time to time or once and for all), with the
consequence, however, that the optimal use of some areas of the site could be precluded. It is also
possible to check the methods and types of cookies stored on your browser by changing the settings on
cookies of your browser.<br><br>
      a) Technical cookies or "technical cookies":<br><br>
      (i) necessary cookies or "strictly necessary cookies": They are necessary for navigation on a website and
the use of its functionalities, such as to allow a correct display or access to restricted areas. Therefore,
disabling these cookies does not allow these activities.<br><br>
      (ii) Performance cookies or "performance cookies": They collect information on the efficiency of the
responses of a website to the user's requests in an anonymous form, for the sole purpose of improving
the functionality of the website; for example, which pages are most frequently visited by the user, and
whether there have been errors or delays in the delivery of web pages.<br><br>
(iii) Function cookies or "functionality cookies": They allow the site to remember the choices made by
the user and re-propose them to subsequent accesses in order to provide better and personalized
services: for example, they can be used to offer content similar to those already previously requested by
the user.<br><br>
      b) Cookies for targeted advertising or "cookie targeting": They are used to offer users advertising that is
potentially close to their interests, as identified during browsing. For example, they are used to limit the
administration of a given advertisement, or to deduce the effectiveness of a campaign from the
frequency of display of the related advertising. These cookies can also be administered by third parties,
also on behalf of advertisers. The user can accept these cookies or not by expressing their consent ("opt
in") prior to their administration.<br><br>
          
    </p>
          <h5 class=""><b><i>Disabling (opt-out) for cookies:</i></b></h5>
            <p class="container">The rules on the protection of personal data provide that the user can disable cookies already administered ("opt-out"). The opt-out is scheduled for cd. "Technical cookies", as well as for cookies that do not fall under "previously accepted" technical cookies ("opt in") by the User.<br>
By virtue of this distinction, the user may proceed with the disabling and / or cancellation of cookies ("opt-out") through the relevant settings of their browser and the disabling and / or deletion of individual cookies not "technical" administered by third parties parties accessing the website managed by the European Interactive Digital Advertising Alliance (EDAA) at www.youronlinechoices.eu<br>
The Company also uses the services:</p>
    <h5 class=""><b><i>1) Remarketing and Behavioral Targeting</i></b></h5>
    <p class="container">These services allow medical researcher and its partners to communicate, optimize and serve
advertisements based on the past use of this Application by the User.<br>
This activity is carried out by tracking Usage Data and the use of Cookies, information that is transferred
to the partners to whom the activity of remarketing and behavioral targeting is connected.</p>
    <h5 class=""><b><i>2) AdWords Remarketing (Google)</i></b></h5>
    <p class="container">AdWords Remarketing is a Remarketing and Behavioral Targeting service provided by Google Inc. that
links the activity of this Application with the Adwords advertising network and the Doubleclick Cookie.
For the opt-out: <a href="google.com/settings/ads/onweb/optout?hl=it"></a> .
Personal Data collected: Cookies and Usage Data. Treatment Data: USA - <a href="https://www.google.com/intl/it/policies/privacy/">Privacy Policy</a></p>
    <h5 class=""><b><i>3) AdRoll (Semantic Sugar, Inc.)</i></b></h5>
    <p class="container">AdRoll is an advertising service provided by Semantic Sugar, Inc.<br>
Personal Data collected: Cookies and Usage Data. Treatment Location: USA - <a href="https://www.adroll.com/about/privacy">Privacy Policy</a></p>
          <h4 class="h4"><b><i>9. Rights foreseen by the art. 7, 15, 16, 17, 18, 19, 20, 21 and 22 of Regulation 679/2016</i></b></h4>
    <p class="container">By way of example, the interested party has the right:<br>
a) to obtain confirmation of the existence or not of personal data concerning him, even if not yet
registered, and their communication in an intelligible form;<br>
b) to obtain the indication:<br>
(i) of the origin of personal data,<br>
(ii) of the purposes and methods of processing<br>
(iii) of the logic applied in case of treatment carried out with the aid of electronic instruments,
(iv) identification of the data controller, data processors and the designated representative pursuant to
article 5, paragraph 2 of Legislative Decree 196/2003,<br>
(v) the subjects or categories of subjects to whom the personal data may be communicated or who may
become aware of it as appointed representative in the territory of the State, managers or agents<br>
c) to obtain:<br>
(i) the update, the rectification or, when interested, the integration of the data,<br>
(ii) the cancellation, transformation into anonymous form or blocking of the data processed in violation
of the law, including those that do not need to be kept for the purposes for which the data were
collected or subsequently processed;<br>
(iii) the attestation that the operations referred to in points (i) and (ii) of letter c), have been brought to
the attention, also with regard to their content, of those to whom the data have been communicated or
disseminated , except in the case in which such fulfillment proves impossible or involves a use of means
manifestly disproportionate to the protected right;<br>
d) to object, in whole or in part:<br>
a) for legitimate reasons, to the processing of personal data concerning him / her, also pertinent to the
purpose of the collection;<br>
b) to the processing of personal data concerning him for the purpose of sending advertising or direct
sales material or for carrying out market research or commercial communication.<br>
The User may contact the Data Controller or Data Processor to assert your rights in writing to the
following mailing address: Edoctor Srl, Via di Vigna Stelluti, 157 00191 ROME or also through the e-mail
address info@myclinic-booking.com<br>
To obtain further information regarding the collection, processing and communication of your personal
data, you can contact the e-mail address mentioned above or the following mailing address:
GUARDMAN co<br>
    </p>
    
          <h4 class="h4"><b><i>10. Data controller</i></b></h4>
<p class="container">For the purposes of Regulation 679/2016, Data Controller is the GURADMAN with registered office in
Seoul, south Korea in person of the legal representative pro-tempore. The data controller uses data
controllers to achieve the specified purposes</p>
      </div>
      </div>
      <!--Footer-->
      <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Uzair<a href="#" class="blue-text ml-1">
            Sign Up</a></p>
      </div>
  </div>
</div>